/* map.css */

.map-container {
  width: 100%; /* Make the map fill the width of its container */
  height: 100%; /* Make the map fill the height of its container */
}

.fullscreen-map {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
}

.responsive-map {
  width: 100%;
  height: 400px; /* Set a fixed height, adjust as needed */
  border-radius: 0.375rem; /* Add some rounding if you want */
  overflow: hidden;
}

.map-tooltip {
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: bold;
}
